@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  background-color: #141519;
  display: grid;
  grid-template-rows: auto 40px;
  min-height: 100vh;
  max-height: 100%;
  font-family: "Overpass", sans-serif;
}
.caixa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e252f;
  margin: auto;
  width: 410px;
  height: 420px;
  border-radius: 33px;
  border: none;
  padding: 35px;
}

.estrela {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: #262f38;
  border: 0px;
}

.titulo {
  color: #ffffff;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.paragrafo {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  width: 85%;
}

.botoesnotas {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: center;
}

.botoesnotas button {
  background-color: #262f38;
  border-radius: 100%;
  border: 0px;
  width: 50px;
  height: 50px;
  color: hsl(217, 12%, 63%);
}

.botaosubmit {
  background-color: hsl(25, 97%, 53%);
  border-radius: 50px;
  border: 0px;
  align-self: center;
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  color: #f5edc5;
  font-size: 14px;
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
  align-content: center;
  align-self: center;
  color: #62677b;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
